---
http_interactions:
- request:
    method: get
    uri: http://www.boardgamegeek.com/xmlapi2/thing?id=12493
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset="UTF-8"
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?><items termsofuse=\"http://boardgamegeek.com/xmlapi/termsofuse\"><item
        type=\"boardgame\" id=\"12493\">\n         <thumbnail>//cf.geekdo-images.com/images/pic50404_t.jpg</thumbnail>\n
        \     <image>//cf.geekdo-images.com/images/pic50404.jpg</image>\n                                     \t\t\t\t\n\t\t\t\t<name
        type=\"primary\" sortindex=\"1\" value=\"Twilight Imperium (Third Edition)\"
        />\n\t\t\t\n\t\t\t\t\t\t                           \n\t\t\t\t\t\t               \t\t\t\t\t\t\t\t\t\t\t\t\t<description>Twilight
        Imperium Third Edition is an epic empire-building game of interstellar conflict,
        trade, and struggle for power. Players take the roles of ancient galactic
        civilizations, each seeking to seize the imperial throne via warfare, diplomacy,
        and technological progression. With geomorphic board tiles, exquisite plastic
        miniatures, hundreds of cards, and introducing a rich set of strategic dimensions
        that allows each player to refocus their game-p[...]
